name: Deploy to Docker Hub

on:
  push:
    branches: [ "main" ]

# Cancel previous runs if a new commit is pushed to save minutes
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: 'softvencefsd'
        password: 'FSD#Softvence'

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: softvencefsd/polartraveler-admin-app-franken:latest
        # Enable caching to make builds faster (uses GitHub Actions cache)
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Trigger Deployment Webhook
      run: |
        curl -X POST https://panel.polartraveler.com/api/deploy/1fTNuo3Ur8CYMcJ8h5hnx
